* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

h1{
    text-align: center;
    color: white;
    margin: 20px;
    font-size: 40px;
}
body {
    background-image: url(/assets/img/background_img.jpg);
    background-repeat: no-repeat;
    background-size: 1930px 931px;
}

#background_img{
    background-repeat: no-repeat;
}

main{
    display: flex;
}
input{
    background-color: aqua;
    flex-wrap: wrap;
    justify-content: center;
}